


<div class="row">
  <div class="col-sm-6">
    <h1>Background_photos</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_background_photo_path, class: 'btn btn-primary' do %>
    Add New Background photo
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Source url</th>
            
      </tr>
    </thead>

    <tbody>
      <% @background_photos.each do |background_photo| %>
        <%= content_tag :tr, id: dom_id(background_photo), class: dom_class(background_photo) do %>
          
            <td><%= link_to background_photo.name, background_photo %></td>
          

                      <td><%= background_photo.source_url %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
