    <div class="col-sm">
      <div class="card custom-card">
        <div class="card-cover" style="background-image: url( https://picsum.photos/600/400/?random );">
          <div class="circle-image" style="background-image: url( https://picsum.photos/200/110/?random );"></div>
        </div>        
        <div class="card-body">
          <h5 class="card-title"><%= city.name %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
