


<div class="row">
  <div class="col-sm-6">
    <h1>Cities</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_city_path, class: 'btn btn-primary' do %>
    Add New City
  <% end %>
  </div>
</div>
<div class="mars-current-weather">
<div class="table-responsive index-listing">
  <table class="table table-striped table-bordered table-hover fixed_table_header">
    <thead>
      <tr class="section-title" style="color: var(--clr-light)">
    
        <th>Name</th>
        <th>Country</th>
            
      </tr>
    </thead>

    <tbody style="display:block">
      <% @cities.each do |city| %>
        <%= content_tag :tr, id: dom_id(city), class: dom_class(city) do %>
          
            <td><%= link_to city.name, city %></td>
          

                      <td class="reading"><%= city.country %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
