<!-- background image found at -->
<% content_for(:body_class) { 'cities index' } %>


<div class="row">

<main>
  <div class="location-list" >
    <ul> <!-- display grid -->
      <%= render partial: "city", collection: @cities %>
    </ul>
  </div>
  <%#= render 'world_map' %>
  <%#= render(partial: "city", collection: @cities) %>

</main>
