// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// mars-specific styling
// Where we make things look pretty

// Where we make things look pretty

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.25rem;
  --fs-h2: 1.75rem;
  --fs-body: 1rem;
  --fs-xl: 4rem;
  --clr-light-font: #fefefe;
  --clr-gray: #4f5660;
  --clr-dark-slate: #272e38;
  --clr-light-slate: #313842;
  --clr-accent: #d06d6d;
  --clr-accent-dark: #613131;
  --width-city-index: 100px;
  --height-index-gap: 10px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

h1,
h2,
h3 {
  line-height: 1;
}

a {
  color: var(--clr-light-font);

  &:hover {
    color: var(--clr-light-font);
  }
}

.cities {
  background: url(asset_path("dark_plus_background.png"));
  background-repeat: repeat;
}

.location-list ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--height-index-gap);
  margin-left: 0px;
}

.city-listing {
  display: grid;
  grid-template-columns: var(--width-city-index) 1fr;
  column-gap: 50px;

  background: var(--clr-light-slate);
  border-top: 5px solid var(--clr-light-slate);
  &:hover {
    background: var(--clr-dark-slate);
  }
}

.city-listing a:focus {
  color: white;
  text-decoration: none;
}

.city-listing a:hover {
  color: white;
  text-decoration: none;
}

.city-listing__id {
  border-top: var(--height-index-gap) solid #f9423a;
  text-align: right;
  font-weight: bold;
}

.city-listing__location {
  border-top: 5px solid var(--clr-light-slate);
  border-top: var(--height-index-gap) solid var(--clr-light-slate);
  justify-content: center;
  text-align: left;

  &:hover {
    background: var(--clr-dark-slate);
  }
}

.cities__show {
  color: var(--clr-gray);

  main {
    width: 100vw;
    height: 93vh;
    outline: 6px solid #121219;
    display: grid;
    grid-template-columns: [first] 10vw [line3] 75vw [col4-start] 10vh [last];

    grid-template-rows: [top] 7vh [title] 20vh [place] 20vh [city-state] 10vh [middleborder] 15px [recorded-at] 10vh [temperature] 10vh [weathercondition] auto [last-line];
    text-align: center;

    .image-header {
      background-color: #8ca0ff;
      grid-column: first / last;
      grid-row: top / middleborder;
      overflow: hidden;
    }
    .place {
      color: var(--clr-light-font);
      grid-column: line3 / col4-start;
      grid-row: title / place;

      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3)
      );
    }

    .city-state {
      grid-column: line3 / col4-start;
      grid-row: place / city-state;

      color: var(--clr-light-font);
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4)
      );
    }

    .address {
    }

    .longitude {
      display: none;
    }

    .latitude {
      display: none;
    }

    .aurora-border {
      grid-column: first / last;
      grid-row: middleborder / recorded-at;

      height: 15px;
      background-image: linear-gradient(
        to right,
        red,
        #f06d06,
        rgb(255, 255, 0),
        green
      );
    }
    .recorded-at {
      grid-column: line3 / col4-start;
      grid-row: recorded-at / temperature;

      align-self: center;
    }

    .temperature {
      grid-column: line3 / col4-start;
      grid-row: temperature / weathercondition;

      color: var(--clr-light-font);
      font-size: var(--fs-xl);
      font-weight: var(--fw-bold);
      align-self: center;
    }

    .weather-condition {
      grid-column: line3 / col4-start;
      grid-row: weathercondition / last-line;

      align-self: center;
    }
  }
}
